// COLORS
$white: #ffffff;
$gradient: linear-gradient(to bottom, #fb8627, #f5bef6);
$black: #0f0f17;

// HEADING
$heading-font-family: 'Inter', sans-serif;
$heading-font-weight: 600;
$heading-line-height: 1.1;
$heading-letter-spacing: 0;
$heading-text-transform: uppercase;
$heading-margin-bottom: 10px;

