@use '../../../scss/variables' as *;

.newsDetailedSection {
  width: 100%;
  display: flex;
  gap: 20px;
  padding-left: 40px;
  padding-top: 78px;
  padding-bottom: 150px;
  //flex: 1;

  @media (max-width: 480px) {
    padding: 40px 0 80px 0;
    flex-direction: column;
  }
}

.newsImg {
  width: 440px;
  height: 320px;
  object-fit: cover;
  object-position: center;
  display: block;

  @media (max-width: 480px) {
    width: 320px;
    height: 232px;
  }
}
.newsDetailedContainer {
  max-width: 510px;

  @media (max-width: 480px) {
    padding: 0 10px;
  }
}

.newsTitle {
  margin-bottom: 20px;
}
.newsDate {
  color: $white;
  opacity: 50%;
  margin-bottom: 40px;
}
.newsDetailedTitle {
  margin-bottom: 20px;
}
.detailedDescription {
  color: $white;
}
.paragraph {
  color: $white;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.loading,
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  z-index: 1000;
}

.loading {
  color: $white;
}

.error {
  color: $error-color;
}
