@use '../../../scss/variables' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  @media (max-width: 480px) {
    align-items: stretch;
  }
}

.modal {
  background: $white;
  padding: 40px;
  border-radius: 20px;
  width: 520px;
  min-height: 427px;
  height: auto;
  position: relative;

  @media (max-width: 480px) {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.close {
  position: absolute;
  top: 35px;
  right: 40px;
  border: none;
  color: $black;
  font-size: 18px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-image: url('/500na700/assets/Close.svg');
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 480px) {
    width: 30px;
    height: 30px;
    top: 76px;
    right: 20px;
  }
}
