@use '../../../scss/variables' as *;

.input {
  width: 100%;
  height: 51px;
  background: $white;
  border-radius: 10px;
  border: 1px solid $black;
  padding-left: 15px;
  box-sizing: border-box;

  &::placeholder {
    opacity: 50%;
  }
  &:focus {
    outline: none;
    &::placeholder {
      opacity: 100%;
    }
  }
}
