.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }
}
