@use '../../../scss/variables' as *;
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formTitle {
  color: $black;
  margin-bottom: 40px;

  @media (max-width: 480px) {
    margin-bottom: 10px;
  }
}
.inputTel {
  width: 100%;
  height: 51px;
  background: $white;
  border-radius: 10px;
  border: 1px solid $black;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::placeholder {
    opacity: 50%;
  }

  &:focus {
    outline: none;
    &::placeholder {
      opacity: 100%;
    }
  }
}

.formButton {
  width: 126px;
  height: 45px;
  color: $black;
  margin-top: 30px;

  &::before {
    color: $black;
  }

  @media (max-width: 480px) {
    margin-top: 20px;
  }
}

.error {
  font-size: 12px;
  color: #ff4d4f;
}
