@use '../../../scss/variables' as *;
.mainHeader {
  max-width: 1440px;
  max-height: 119px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 40px;
  border-bottom: 1px solid $header-border;
  overflow: hidden;
  background-color: $black;

  @media (max-width: 480px) {
    max-height: 83px;
    padding: 0 10px;
  }
}

.headerLogo {
  cursor: pointer;
  @media (max-width: 480px) {
    width: 44px;
    height: 53px;
  }
}
