@use '../../../scss/variables' as *;

.footer {
  width: 100%;
  height: 248px;
  display: flex;
  background: $gradient;
  gap: 352px;
  align-items: center;
  padding-left: 40px;
}

.footerLogo {
  width: 103px;
  height: 124px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 431px;
    padding: 0;
    gap: 30px;
  }
  .footerTitle {
    width: 191px;
    text-align: center;
  }
  .footerLogo {
    width: 120px;
    height: 144px;
  }
}
