@use '../../../scss/variables' as *;

.card {
  width: 100%;
  cursor: pointer;
  margin-bottom: 40px;
}

.cardImage {
  max-width: 440px;
  min-width: 320px;
  width: 100%;
  max-height: 300px;
  min-height: 218px;
  height: auto;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.cardDescription {
  opacity: $white;
  opacity: 50%;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardDate {
  color: white;
}
.cardTitle {
  transition: all 0.5s ease;
}
.cardLink {
  text-decoration: none;
  color: $white;
}

@media (max-width: 1339px) {
  .cardContent {
    padding-left: 10px;
  }
}

@media (min-width: 480px) {
  .card:hover {
    .cardTitle {
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media (max-width: 480px) {
  .card {
    margin-bottom: 48px;
  }
}
