@use '../scss/variables' as *;

.appContainer {
  background-color: $black;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
 
}

@media (max-width: 480px) {
  .appContainer {
    padding-top: 83px;
  }
}
