@use '../../../scss/variables' as *;

.newsSection {
  padding: 60px 40px;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 440px));
  column-gap: 20px;
  margin-top: 40px;
}
.newsTitle {
  align-self: flex-start;
  margin-left: 40px;
}

.loading,
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  z-index: 1000;
}

.loading {
  color: $white;
}

.error {
  color: $error-color;
}

@media (max-width: 1339px) {
  .newsSection {
    padding: 40px 0;
  }
  .newsTitle {
    margin-left: 10px;
  }
  .newsGrid {
    margin-top: 30px;
  }
}
