@use '../../../scss/variables' as *;

.newsSection {
  padding: 60px 40px;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 440px));
  column-gap: 20px;
  margin-top: 40px;
}
.newsTitle {
  align-self: flex-start;
  margin-left: 40px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: $white;
}
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  color: $error-color;
  font-size: 30px;
}

@media (max-width: 1339px) {
  .newsSection {
    padding: 40px 0;
  }
  .newsTitle {
    margin-left: 10px;
  }
  .newsGrid {
    margin-top: 30px;
  }
}
